<p>Use the checkboxes to indicate which patrons you want to delete.</p>
<table id="rows-confirm">
<!-- TMPL_LOOP NAME=ROWS -->
  <tr>
    <th>&nbsp;</th>
    <th>Barcode</th>
    <th>Name</th>
  <tr>
    <td><input type="checkbox" name="delete[]" value="<!-- TMPL_VAR NAME=BARCODE -->" <!-- TMPL_VAR NAME=CHECKBOX --> /></td>
    <td><!-- TMPL_VAR NAME=BARCODE --></td>
    <td><!-- TMPL_VAR NAME=PATRONNAME --></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2"><!-- TMPL_VAR NAME=MSGS --></td>
  </tr>
<!-- /TMPL_LOOP -->
</table>
