<p>Use the checkboxes to indicate which patrons you want to delete.</p>
<table id="rows-confirm">
  <tr>
    <th>&nbsp;</th>
    <th>Barcode</th>
    <th>Name</th>
	<!-- TMPL_LOOP NAME=ROWS -->
  <tr class="patron">
    <td align="right"><input type="checkbox" name="delete[]" value="<!-- TMPL_VAR NAME=BARCODE -->" <!-- TMPL_VAR NAME=CHECKBOX --> /></td>
    <td><!-- TMPL_VAR NAME=BARCODE --></td>
    <td><!-- TMPL_VAR NAME=PATRONNAME --></td>
  </tr>
  <tr class="msgs">
    <td align="right">&nbsp;</td>
    <td colspan="2"><!-- TMPL_VAR NAME=MSGS --></td>
  </tr>
	<!-- /TMPL_LOOP -->
</table>
